<div id="<%= dom_id link %>">
  <div>
    <strong>Original url:</strong>
    <%= link.original_url %>
  </div>

  <div>
    <strong>Short code:</strong>
    <%= link.short_code %>
  </div>

  <div>
    <strong>Clicks:</strong>
    <%= link.clicks %>
  </div>

</div>
